.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  margin: 1rem;
}

.rather-labs-logo{
  width: 8rem;
}

.footer-logo{
  width: 3rem;
}

.wallet-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ant-card{
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.survey-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-over{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.question-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.option-btn{
  margin: 1rem;
}

.ant-btn{
  margin: 0.5rem;
}